<%- model_class = BeerVariety -%>

<h2><%= @beer_variety.name %></h2>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:kind_id) %>:</strong></dt>
  <dd><%= @beer_variety.kind.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:alcohol_percentage) %>:</strong></dt>
  <dd><%= @beer_variety.alcohol_percentage %></dd>
  <dt><strong>Average rating:</strong></dt>
  <dd><%= @beer_variety.average_rating %></dd>
</dl>



<%= link_to 'Edit', edit_beer_beer_variety_path(@beer_variety.beer,@beer_variety) %>

<div>
  <% if logged_in? %>
      <h3>Rate this beer!</h3>
      <%= form_for rating_ballot, :html => {:remote => true,:class => 'rating_ballot'} do |f| %>
          <%= f.hidden_field :beer_variety_id,:value => @beer_variety.id %>
          <% 1.upto(10) do |e| %>
              <%= f.label "score_#{e}",content_tag(:span, e.to_s),{:id => e,:class => 'rating'} %>
              <%= radio_button_tag "rating[score]",e.to_s,rating_compare.call(e), :class => 'rating_button' %>
          <% end %>
          <%= f.submit 'Rate',:class => 'rating_button' %>
      <% end %>
  <% end %>
  <br />


  <div id="comments">
    <%= render :partial => 'comments' %>
  </div>
  <% unless logged_in? %>
      <strong>Please register to post comments or rate <%= link_to 'here',new_user_path %> or log in.</strong>
  <% else %>
      <div id="comment_new">
          <%= render :partial => 'comments/new' %>
      </div>
  <% end %>
</div>