<%- model_class = Beer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @beer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_id) %>:</strong></dt>
  <dd><%= @beer.country.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brewery) %>:</strong></dt>
  <dd><%= @beer.brewery %></dd>
</dl>

<% @beer.beer_varieties.each do |variety| %>
    <%= link_to variety.name, beer_beer_variety_path(@beer, variety), {:remote => true} %>
<% end %>

<br />
<%= link_to 'create new variety', new_beer_beer_variety_path(@beer) %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              beers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_beer_path(@beer), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              beer_path(@beer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<div id="beer_variety">
</div>
