<!DOCTYPE html>
<html>
<head>
  <title>Beerfactor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">Beerfactor</a>
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Browse beers", beers_path %></li>
        <% unless logged_in? %>
            <li><%= link_to "Register", new_user_path %></li>
        <% end %>
      </ul>
      <ul>
        <% unless logged_in? %>
            <%= form_tag sessions_path,class: 'navbar-form pull-right' do %>
                <%= text_field_tag :email, nil, {placeholder: 'email', class: 'span2'} %>
                <%= password_field_tag :password, nil, {placeholder: 'password', class: 'span2'} %>
                <%= submit_tag 'log in', class: 'btn' %>
            <% end %>
        <% else %>
        <div class='pull-right'>
          <p class="navbar-text">Welcome, <i><%= current_user.email %></i>
           <strong><%= link_to 'log out', logout_path %></strong></p>
          </div>
        <% end %>
      </ul>
    </div>


  </div>
  <%= yield %>
</div>

</body>
</html>
